# Data
World alcohol consumption dataset
This is a global beverage consumption record dataset. The first column means the year of the record, the second column refers to the place where the beverage was produced, and the third column refers to the place where the beverage was consumed. The fourth columns refer to the types of beverages, and the fifth column refers to the average consumption of beverages per person.

word_alcohol.csv

# Q1
Write a Pandas program to display the dimensions or shape of the dataset. Also extract the column names from the dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',w_a_con.shape[0])
print('\nNumber of column: ',w_a_con.shape[1])
print("\nExtract Column Names:")
print(w_a_con.columns)

# Q2
Write a Pandas program to select first 2 rows, 2 columns and specific two columns from dataset.

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nSelect first 2 rows:")
print(w_a_con.iloc[:2])
print("\nSelect first 2 columns:")
print(w_a_con.iloc[:,:2].head())
print("\nSelect 2 specific columns:")
print(w_a_con[['Display Value', 'Year']])

# Q3
Write a Pandas program to select random number of rows, fraction of random rows from dataset. use df.sample()

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nSelect random number of rows:")
print(w_a_con.sample(5))
print("\nSelect fraction of randome rows:")
print(w_a_con.sample(frac=0.02))

# Q4
 Write a Pandas program to find and drop the missing values from World alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nMissing values:")
print(w_a_con.isnull())
print("\nDropping the missing values:")
print(w_a_con.dropna())

# Q5
Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nAfter removing the duplicates of WHO region column:")
print(w_a_con.drop_duplicates('WHO region'))

# Q6
 Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nThe world alcohol consumption details in the year 1985:")
print(w_a_con[w_a_con['Year']==1985].head(10))
print("\nThe world alcohol consumption details in the year 1989:")
print(w_a_con[w_a_con['Year']==1989].head(10))

# Q7
Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nThe world alcohol consumption details where year is 1987 or 1989:")
print((w_a_con[(w_a_con['Year']==1987) | (w_a_con['Year']==1989)]).head(10))

# Q8
Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nThe world alcohol consumption details by the Americas in the 1985:")
print(w_a_con[(w_a_con['Year']==1989) & (w_a_con['WHO region']=='Americas')].head(10))

# Q9
Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nThe world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :")
print(w_a_con[(w_a_con['Year']==1986) & (w_a_con['WHO region']=='Western Pacific') & (w_a_con['Country']=='Viet Nam')])

# Q10
Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset

In [2]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('data/world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [4]:
w_a_con.notnull()

    Year  WHO region  Country  Beverage Types  Display Value
0   True        True     True            True           True
1   True        True     True            True           True
2   True        True     True            True           True
3   True        True     True            True           True
4   True        True     True            True           True
..   ...         ...      ...             ...            ...
95  True        True     True            True           True
96  True        True     True            True           True
97  True        True     True            True           True
98  True        True     True            True           True
99  True        True     True            True           True

[100 rows x 5 columns]

In [ ]:
print("\nFind  all columns which all entries present:")
print(w_a_con.loc[:, w_a_con.notnull().all()])

In [ ]:
print("\nRows and columns has a NaN:")
print(w_a_con.loc[:,w_a_con.isnull().any()])

In [ ]:
print("\nDrop rows with any NaNs:")
print(w_a_con.dropna(how='any'))