In [2]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-8.0.33-cp39-cp39-win_amd64.whl (9.6 MB)
     ---------------------------------------- 9.6/9.6 MB 6.2 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------ 904.2/904.2 kB 539.8 kB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [3]:
import mysql.connector

In [5]:
mydb=mysql.connector.connect(
    host="localhost",
    user="user",
    password="pwd",
    database="mydb"
)

print(mydb)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)