In [1]:
import numpy as np
v1=[1,-3,4]
def ln_norm(v, norm_n):
    summ=0
    final=0
    for x in v:
        if norm_n>1:
            summ+=np.abs(x)**norm_n
            final=summ**(1/norm_n)
        else:
            summ+=np.abs(x)
            final= summ
    return final

In [2]:
ln_norm(v1, 2)

5.0990195135927845

In [3]:
from numpy.linalg import norm
norm(v1, 2)

5.0990195135927845

In [4]:
v2=np.random.randint(1,10,10)
v2

array([5, 8, 2, 8, 5, 2, 4, 3, 8, 2])

In [5]:
ln_norm(v2, 2)

16.703293088490067

In [6]:
norm(v2, 2)

16.703293088490067

In [7]:
v3=np.random.randint(1,10,3)
v4=np.random.randint(1,10,3)

In [8]:
def EuclideanDistance(x,y):
    sum=0
    z=(x-y)**2
    sum=np.sqrt(np.sum(z))
    return sum

In [9]:
EuclideanDistance(v3,v4)

6.708203932499369

In [10]:
import math
math.dist(v3,v4)

6.708203932499369

In [11]:
from scipy.spatial import distance
distance.euclidean(v3,v4)

6.708203932499369

In [12]:
mat_1=np.random.randint(1,10,(2,3))
mat_1

array([[2, 7, 7],
       [4, 9, 9]])

In [13]:
mat_1.T

array([[2, 4],
       [7, 9],
       [7, 9]])

In [14]:
3*mat_1

array([[ 6, 21, 21],
       [12, 27, 27]])

In [15]:
mat_1=np.random.randint(1,10,(2,3))

mat_2=np.random.randint(1,10,(2,3))
mat_2, mat_1

(array([[8, 2, 3],
        [7, 4, 7]]),
 array([[8, 3, 4],
        [3, 2, 7]]))

In [16]:
mat_1+mat_2

array([[16,  5,  7],
       [10,  6, 14]])

In [17]:
mat_1*mat_2

array([[64,  6, 12],
       [21,  8, 49]])

In [18]:
trans_mat=np.random.randint(1,10,(3,2))
trans_mat

array([[2, 4],
       [1, 3],
       [7, 1]])

In [19]:
mat_3=np.random.randint(1,10,(1,2))
mat_4=np.random.randint(1,10,(1,2))
mat_3, mat_4

(array([[4, 2]]), array([[9, 1]]))

In [20]:
mat_5=np.random.randint(1,10,(2,2))
mat_6=np.random.randint(1,10,(2,2))
mat_5, mat_6

(array([[1, 4],
        [8, 4]]),
 array([[9, 2],
        [7, 6]]))

In [21]:
mat_5*mat_6

array([[ 9,  8],
       [56, 24]])

In [22]:
mat_5@mat_6

array([[ 37,  26],
       [100,  40]])

In [23]:
trans_matrix = np.array([[3, 4],
       [7, 1],
       [1, 4]])
	   
print(trans_matrix)

[[3 4]
 [7 1]
 [1 4]]

In [24]:
v7=np.random.randint(1,10,(2,1))
v8=np.random.randint(1,10,(2,1))
print (v7)
print(v8)

[[9]
 [2]]
[[6]
 [9]]

In [25]:
v7_trans=trans_matrix@v7
print(v7.shape)
print(v7_trans.shape)

(2, 1)
(3, 1)

In [26]:


v8_trans=trans_matrix@v8
print(v8_trans)

[[54]
 [51]
 [42]]

In [27]:

print(distance.euclidean(v7.reshape(2),v8.reshape(2)))

print(distance.euclidean(v7_trans.reshape(3),v8_trans.reshape(3)))

7.615773105863909
34.38022687534217

In [28]:
# # load Iris dataset from sklearn
# from sklearn.datasets import load_iris
# data = load_iris()
# data

In [29]:
import seaborn as sns

In [30]:
data_df=sns.load_dataset('iris')
data_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [31]:
msk = np.random.rand(len(data_df)) < 0.8
msk

array([ True,  True,  True,  True, False, False, False, False,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True])

In [32]:
train_df=data_df[msk]
train_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[116 rows x 5 columns]

In [33]:
test_df=data_df[~msk]
test_df

     sepal_length  sepal_width  petal_length  petal_width     species
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
17            5.1          3.5           1.4          0.3      setosa
25            5.0          3.0           1.6          0.2      setosa
27            5.2          3.5           1.5          0.2      setosa
33            5.5          4.2           1.4          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
44            5.1          3.8           1.9          0.4      setosa
46            5.1          3.8           1.6          0.2      setosa
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
72            6.3          2.5           4.9          1.5  versicolor
77            6.7          3.0           5.0          1.7  versicolor
91            6.1          3.0           4.6          1.4  versicolor
96            5.7          2.9           4.2          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
114           5.8          2.8           5.1          2.4   virginica
117           7.7          3.8           6.7          2.2   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
126           6.2          2.8           4.8          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
140           6.7          3.1           5.6          2.4   virginica
146           6.3          2.5           5.0          1.9   virginica

In [34]:
setosa=train_df[train_df['species']=='setosa']

versicolor=train_df[train_df['species']=='versicolor']

virginica=train_df[train_df['species']=='virginica']

In [35]:
setosa.drop(['species'], axis=1, inplace=True)
versicolor.drop(['species'], axis=1, inplace=True)
virginica.drop(['species'], axis=1, inplace=True)

C:\Users\vwadhawan\AppData\Local\Temp\ipykernel_29156\892164252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setosa.drop(['species'], axis=1, inplace=True)
C:\Users\vwadhawan\AppData\Local\Temp\ipykernel_29156\892164252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  versicolor.drop(['species'], axis=1, inplace=True)
C:\Users\vwadhawan\AppData\Local\Temp\ipykernel_29156\892164252.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virginica.drop(['species'], axis=1, inplace=True)

In [36]:
virginica

     sepal_length  sepal_width  petal_length  petal_width
100           6.3          3.3           6.0          2.5
101           5.8          2.7           5.1          1.9
102           7.1          3.0           5.9          2.1
103           6.3          2.9           5.6          1.8
104           6.5          3.0           5.8          2.2
105           7.6          3.0           6.6          2.1
106           4.9          2.5           4.5          1.7
107           7.3          2.9           6.3          1.8
108           6.7          2.5           5.8          1.8
109           7.2          3.6           6.1          2.5
110           6.5          3.2           5.1          2.0
111           6.4          2.7           5.3          1.9
112           6.8          3.0           5.5          2.1
113           5.7          2.5           5.0          2.0
115           6.4          3.2           5.3          2.3
116           6.5          3.0           5.5          1.8
118           7.7          2.6           6.9          2.3
119           6.0          2.2           5.0          1.5
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
127           6.1          3.0           4.9          1.8
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
139           6.9          3.1           5.4          2.1
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

In [37]:
mean_virginica=virginica.mean(axis=0).to_numpy()
mean_setosa=setosa.mean(axis=0).to_numpy()
mean_versicolor=versicolor.mean(axis=0).to_numpy()
print(mean_virginica)

[6.635  2.97   5.5975 2.015 ]

In [38]:
test_1=test_df.iloc[25,:]
test_1

sepal_length          7.7
sepal_width           3.8
petal_length          6.7
petal_width           2.2
species         virginica
Name: 117, dtype: object

In [39]:
v1=test_1[:4].to_numpy()
v1

array([7.7, 3.8, 6.7, 2.2], dtype=object)

In [40]:
d_mean_setosa=distance.euclidean(mean_setosa, v1)
d_mean_virginica=distance.euclidean(mean_virginica, v1)
d_mean_versicolor=distance.euclidean(mean_versicolor, v1)

In [41]:
print(d_mean_setosa, d_mean_virginica, d_mean_versicolor)

6.237964738729504 1.7529564312897228 3.3228715461651688

In [42]:
# X, y = data.data, data.target
# feature_names = data.feature_names
# target_names = data.target_names
# print(target_names)