# Python Take-home Exercise

### 1. Write a program using list comprehension to find primes in range 2 to 100

In [27]:
import math

In [28]:
primevalues =[]
for i in range(2, 100):
    primevalue=True
    squareroot = math.isqrt(i)
    for j in range(2, squareroot+1):
        if(i%j==0):
            primevalue=False
            break
            
    if(primevalue == True):
        primevalues.append(i)

In [29]:
primevalues

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### 2. Write a function to reverse a string

**String = 'Data Science'**

In [30]:
def  reversestring(value):
    return value[::-1]

In [31]:
reversestring("Data Science")

'ecneicS ataD'

### 3. Write a program to extract the words from the given list which have their first character in uppercase

**Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']**

**Output: ['Monday', 'Sunday', 'Saturday']**

In [32]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
Output = []

In [33]:
for d in Days:
    if(d[0].isupper() == True):
        Output.append(d)
Output

['Monday', 'Sunday', 'Saturday']

### 4. Write a program to extract the year part from the dates in the given list

**Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']**

**Output: ['1997','2011','1993','2020']**

In [34]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
Output = []

In [35]:
for dt in Batch:
    detailedDate = dt.split('-')
    Output.append(detailedDate[2])
Output

['1997', '2011', '1993', '2020']

### 5. Write a program swap the keys to values and values to keys of the given dictionary

**Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}**

**Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}**

In [36]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
Output = {}

In [37]:
for k,v in Module.items(): 
    Output[v]=k
Output

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

### 6. Wrote a program to calculate the cumulative average of the given list using accumulate() and lambda function

**Input list: [5,2,1,4,6]**

In [38]:
from itertools import accumulate
import operator
inputValues = [5,2,1,4,6]

In [39]:

cumulativeValues=list(accumulate(inputValues,operator.add))
print(cumulativeValues)

[5, 7, 8, 12, 18]

In [40]:
counter=1
cumulativeAvg=[]
for i in cumulativeValues:
    cumulativeAvg.append(i/counter)
    counter+=1

cumulativeAvg

[5.0, 3.5, 2.6666666666666665, 3.0, 3.6]

### 7. Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. Do not count the white spaces

Use Recursion

**my_string = 'Data Science'**

In [41]:
my_string = 'Data Science'
#mystr = "input()"
mystr="Hello India"

In [42]:
count = 0
for s in mystr:
    if  s!=' ' and my_string.find(s) == -1:
        count +=1

print(count)

6

### 8.  Define a function to check whether a number is in a range (1000,10000) or not

In [43]:
number = 4242
if number in range(1000, 10001):
    print("Number {} is in Range".format(number))
else:
    print("Number {} is not in Range".format(number))

Number 4242 is in Range

### 9. Write a program to print pascal triangle upto 6 steps (using list)

In [44]:
##  not implemented

### 10. Write a program to calculate the sum of all elements in the list

**test_score = [10, 32, 23, 14, 25]**

In [45]:
test_score = [10, 32, 23, 14, 25]
sum(test_score)

104

### 11. Find the minimum value along each of the rows

Create a 2D Numpy array from list of lists<br>

Score = np.array([[210, 402, 383],<br>
                 [140, 375, 106], <br>
                 [140, 125, 217], <br>
                 [292, 240, 295]])

In [46]:
import numpy as np
Score = np.array([[210, 402, 383],
[140, 375, 106],
[140, 125, 217],
[292, 240, 295]])

print(np.min(Score, axis=1))

[210 106 125 240]

### 12.  Replace all even numbers in the array with -1

Use the array given below

    num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [47]:
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

num_array[num_array%2==0]=-1
print(num_array)

[-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

### 13. Create a pandas series having values 4, 8, -1, 2, NAN and their index as d, b, a, c, e

In [48]:
import pandas as pd

data=np.array([4,8,-1,2,np.nan])
s = pd.Series (data, index=["d", "b", "a", "c", "e"])

print(s)

d    4.0
b    8.0
a   -1.0
c    2.0
e    NaN
dtype: float64

### 14. Add a new column 'Height' in the give dataframe

<table>
  <tr>
  <th>Name </th>
  <th>Weight</th>
  </tr>
  <tr>
  <td>Mia</td>
  <td>55</td>    
  </tr>
  <tr>
  <td>Joy</td>
  <td>66</td> 
  </tr>
  <tr>
  <td>Karan</td>
  <td>80</td> 
  </tr>
  <tr>
  <td>George</td>
  <td>67</td> 
</tr>
</table>

New Column:
<table>
  <tr>
  <th>Height</th>   
  </tr>
  <tr>
  <td>5.5</td>
  </tr>
  <tr>
  <td>6.7</td>
  </tr>
  <tr>
  <td>5.8</td>
  </tr>
  <tr>
  <td>6</td>
</tr>
</table>

In [49]:

dict1 = {'Name': ["Mia", "Joy", "Karan", "George"], 
         'Weight': [55, 66, 80, 67]}
df1 = pd.DataFrame(dict1)

arr1 = np.array([5.5, 6.7, 5.8, 6])
s1 = pd.Series (arr1)

df2 = pd.DataFrame(s1)
df2 = df2.rename(columns={0:'Height'})
df3=pd.concat([df1,df2], axis=1)

In [50]:
df3

     Name  Weight  Height
0     Mia      55     5.5
1     Joy      66     6.7
2   Karan      80     5.8
3  George      67     6.0

### 15. Use the data created in question 14, to do the following:
Access column 'Name' by specifying the column number<br>
Access column 'Height' by specifying the column name

In [61]:
df3.iloc[:, 0]

0       Mia
1       Joy
2     Karan
3    George
Name: Name, dtype: object

In [63]:
df3.Height

0    5.5
1    6.7
2    5.8
3    6.0
Name: Height, dtype: float64

### 16. Find duplicate rows based on the column 'Order_ID'

**Use the dataframe given below:**
   
<table>
<tr>
<th>Order_ID</th>
<th>Product</th>
<th>City</th>
</tr>
<tr>
<td>YZ1100</td>
<td>Cell Phone</td>
<td>Sydeny</td>
</tr>
<tr>
<td>RW1200</td>
<td>Watch</td>
<td>Chicago</td>
</tr>
<tr>
<td>YZ1100</td>
<td>Cell Phone</td>
<td>New York</td>
</tr>
<tr>
<td>TY1400</td>
<td>Charger</td>
<td>Chicago</td>
</tr>
<tr>
<td>VB1500</td>
<td>Watch</td>
<td>Chicago</td>
</tr>
<tr>
<td>TY1400</td>
<td>Headphones</td>
<td>Texas</td>
</tr>
<tr>
<td>MW1600</td>
<td>Charger</td>
<td>New York</td>
</tr>
<tr>
<td>CN1600</td>
<td>Headphones</td>
<td>Chicago</td>
</tr>
   
</table>

In [ ]:
order = {'Order_ID': ["YZ1100", "RW1200", "YZ1100", "TY1400","VB1500","TY1400","MW1600","CN1600"], 
         'Product': ["Cell Phone", "Watch","Cell Phone","Charger","Watch","Headphones","Charger","Headphones"],
        'City': ["Sydeny","Chicago","New York","Chicago","Chicago","Texas","New York","Chicago"]}

pdOrder = pd.DataFrame(order)
print(pdOrder)

pdOrder[pdOrder.duplicated(['Order_ID'], keep='first')]

### 17. Use the data created in question 16, to do the following:
In column 'Product', replace all the 'Cell Phone' values with 'Mobile' using numpy.where

In [ ]:
pdOrder['Product']=np.where(pdOrder['Product']=='Cell Phone','Mobile',pdOrder['Product'])
pdOrder

### 18. Perform right join to combine values based on the 'ID' in the two dataframes

**Use the dataframe given below:**
   
<table>
    <tr>
        <th>ID</th>
        <th>Candidate_Name</th>
        <th>Subject</th>
    </tr>
    <tr>
        <td>101</td>
        <td>Alex</td>
        <td>History</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Amy</td>
        <td>English</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Allen</td>
        <td>Geography</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Alice</td>
        <td>German</td>
    </tr>
        <td>105</td>
        <td>James</td>
        <td>History</td>
    </tr>
    <tr>
        <td>106</td>
        <td>Sara</td>
        <td>German</td>
    </tr>
    <tr>
        <td>107</td>
        <td>Mia</td>
        <td>English</td>
    </tr>  
</table>
<br>



<table>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Subject_Score</th>
    </tr>
    <tr>
        <td>101</td>
        <td>Delhi</td>
        <td>89</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Mumbai</td>
        <td>78</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Delhi</td>
        <td>77</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Chennai</td>
        <td>87</td>
    </tr>
    <tr>
        <td>105</td>
        <td>Hyderabad</td>
        <td>87</td>
    </tr>
        <td>108</td>
        <td>Delhi</td>
        <td>84</td>

    </tr>
</table>

In [ ]:
d1 = {'ID': [101,102,103,104,105,106,107], 
         'Candidate Name': ["Alex", "Amy","Allen","Alice","James","Sara","Mia"],
        'Subject': ["History","English","Geography","German","History","German","English"]}

pd1 = pd.DataFrame(d1)

d2 = {'ID': [101,102,103,104,105,108], 
         'City': ["Delhi", "Mumbai","Delhi","Chennai","Hyderabad","Delhi"],
        'Subject_Score': [89,78,77,87,87,84]}

pd2 = pd.DataFrame(d2)

pd.merge(pd1, pd2, on='ID',how='right')

### 19. Use the following data to plot a pie chart and annotate the percentage sales

<table>
    <tr>
        <th>City</th>
        <th>Sales</th>
    </tr>
    <tr>
        <td>Delhi</td>
        <td>890</td>
    </tr>
    <tr>
        <td>Mumbai</td>
        <td>784</td>
    </tr>
    <tr>
        <td>Delhi</td>
        <td>775</td>
    </tr>
    <tr>
        <td>Chennai</td>
        <td>873</td>
    </tr>
    <tr>
        <td>Hyderabad</td>
        <td>387</td>
    </tr>
        <td>Delhi</td>
        <td>684</td>

    </tr>
</table>

In [ ]:
import matplotlib.pyplot as plt

per1 = {'City': ["Delhi", "Mumbai","Delhi","Chennai","Hyderabad","Delhi"],
        'Sales': [890,784,775,873,387,684]}
pper1 = pd.DataFrame(per1)


plt.pie(x=pper1['Sales'], labels=pper1['City'], autopct='%.1f%%')
plt.title('Percentage Sales', color='b', fontsize=23)
plt.show()

### 20. Use the data created in question 19, to do the following:
Calculate minimum, maximum and average sales for each origin

In [ ]:
print("\nMinimum: ",pper1.groupby('City')['Sales'].min())
print("\nMaximum: ",pper1.groupby('City')['Sales'].max())
print("\nAverage: ",pper1.groupby('City')['Sales'].mean())
print("\nMultiple stats: ",pper1.groupby('City')['Sales'].describe())
print("\nMultiple Aggregates: ",pper1.groupby('City')['Sales'].agg(['min', 'max','mean']))