# 3.Logical Operators

In [1]:
a = True
b = False

In [2]:
a & b

False

In [6]:
True and True

True

In [3]:
True * True

1

In [4]:
a | b

True

In [5]:
a or b

True

In [7]:
not a

False

In [8]:
True or True

True

# 4. Btiwise Operator
- They act on bits and perform bit by bit operations they are used to operate on binary numbers

In [9]:
a = 1
b = 0

In [10]:
a and b

0

In [11]:
a or b

1

In [12]:
a - b

1

In [13]:
True & False

False

In [14]:
True | False

True

# 5. Assignment Operators
- They are used to assign values to variables
- Different assignment operators are = , -=, +=, /=. //=, *=, %=

In [15]:
a = 10
b = 20

In [19]:
b +=a
b

30

In [20]:
b -= a
b

20

In [21]:
b /= a
b

2.0

In [22]:
b = 20
b //= a
b

2

In [24]:
b = 20
b*=a
b

200

In [25]:
b = 203
b %= a
b

3

In [1]:
text='I love python'
len(text)

13

In [3]:
 
print(text[::-1])

nohtyp evol I

In [6]:
text.replace('python', 'Data Science')
print(text.split())

['I', 'love', 'python']

In [5]:
date=['08','03','2023','3','45']
sep = 'Hello'
sep.join(date)

'08Hello03Hello2023Hello3Hello45'

In [7]:
booklist = ['Data Science', 'Java', 'Python']
numlist = [44,1,2,3,4]
numlist.sort()
print(numlist)
booklist.append(numlist)
print(booklist)

[1, 2, 3, 4, 44]
['Data Science', 'Java', 'Python', [1, 2, 3, 4, 44]]

In [29]:
print(booklist)

['Data Science', 'Java', 'Python', None]

In [32]:
newbooklist= booklist.copy()
newbooklist.append('Jscript')

In [33]:
newbooklist

['Data Science', 'Java', 'Python', [1, 2, 3, 4, 44], 'Jscript']

In [36]:
booklist

['Data Science', 'Java', 'cobol', 'Python', [1, 2, 3, 4, 44]]

In [35]:
booklist.insert(2,'cobol')

In [37]:
booklist.index('Java')

1

In [39]:
numlist = [3,56,3,63,68,43]
filteredlist = [x>50 for x in numlist] 
filteredlist

[False, True, False, True, True, False]

In [41]:
X=[i**2 for i in numlist if i<50]
X

[9, 9, 1849]

In [43]:
text='He earner Rs 1000 in 2022'
temp=text.split()
mylist=[]
for t in temp:
    if t.isdigit():
        mylist.append(int(t))
mylist

[1000, 2022]

In [48]:
mylist=[int(t) for t in text.split() if t.isdigit()==True]
mylist

[1000, 2022]

In [49]:
car_dict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}

car_dict2 = {
    "brand":"Tata",
    "model":"Nano",
    "year":2002
}

In [50]:
car_dict['price']=20000

In [51]:
car_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': 20000}

In [1]:
thisset = {'apple', 'banana', 'cherry'}
tropical={'pineapple', 'mango', 'papaya'}

In [5]:
thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'papaya', 'apple', 'pineapple', 'mango'}

In [16]:
thisset

{'apple', 'banana', 'cherry', 'pineapple'}

In [15]:
thisset.remove('papaya')

In [9]:
booklist

['Data Science', 'Java', 'Python', [1, 2, 3, 4, 44]]

### Write program to check if 2 given sets have common

In [20]:
set1 = {'A', 'B'}
set2 = {'C', 'D', 'B'}
result = set1.intersection(set2)
print(result)

{'B'}

In [21]:
num1 = {1,2,3,4,5}
num2={4,5,6,7,8}
diff=num1-num2

In [22]:
diff

{1, 2, 3}

In [23]:
text1='Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional'

In [24]:
text2='C++ is a high-level general-purpose programming language created by Danish computer scientist Bjarne Stroustrup as an extension of the C programming language, or "C with Classes'

In [30]:
words1=text1.split()
words1
unique_words1=set(words1)

In [31]:
words2=text2.split()
words2
unique_words2=set(words2)

In [36]:
common_words=unique_words1 &unique_words2
common_words

{'a', 'general-purpose', 'is', 'of', 'programming', 'the', 'with'}

In [35]:
#only in text1
onlyin1=unique_words1-unique_words2
onlyin1

{'It',
 'Its',
 'Python',
 'and',
 'code',
 'design',
 'dynamically',
 'emphasizes',
 'functional',
 'garbage-collected.',
 'high-level,',
 'including',
 'indentation.',
 'language.',
 'multiple',
 'object-oriented',
 'paradigms,',
 'philosophy',
 'readability',
 'significant',
 'structured,',
 'supports',
 'typed',
 'use'}

In [40]:
data=[1,2,3,4]
output=[]
sum=0
for d in data:
    sum=sum+d
    output.append(sum)
output

[1, 3, 6, 10]

In [43]:
#Write a Python program to get a list with n elements removed from the left and right
n=2
nums = [1, 2, 3,5,6,7,8,9,10]
output=nums[n:-n]
output
#output: [3, 5, 6, 7, 8]

[3, 5, 6, 7, 8]

In [53]:
#Write a Python program to find the largest odd and even number in a given list of integers.
nums = [0, 9, 2, 4, 5, 6]
evennums=[i for i in nums if i%2==0]
oddnums=[i for i in nums if i%2!=0]
maxeven=max(evennums)
maxodd=max(oddnums)
print(maxeven)
print(maxodd)

6
9

In [54]:
#### Write a Python program to get a string from a given string where all occurrences of its first char have 
#### been changed to '$'
####  given string result output string resu$t
#### Hint: replace()

In [58]:
mainstring=input()
replacement=input()
output=mainstring.replace(replacement, '$')
output

result
l

'resu$t'

In [60]:
# Q2 Write a Python program to check whether any string contains duplicate word or not. Print True or False
# Hint: use split() to split the string, then create set, and check length
mystr=input()
mylist=mystr.split()
wordcount=len(mylist)
myset=set(mylist)
setlen=len(myset)
print (wordcount)
print (setlen)
if(wordcount==setlen):
    print(True)
else:
    print(False)

Write a Python program to check whether any string contains duplicate word or not. Print True or False
18
17
False

In [ ]:
# Q3. Remove punctuations from a stringHint: use replace()
# Q3. text = "String! With. Punctuation?"punk=['!','?', '.']

In [78]:
punk=['!','?', '.']
text="String! With. Punctuation?"
for i in punk:
    text=text.replace(i,'')
text

'String With Punctuation'

In [87]:
# Write a Python program to add the values of a dictionary.
#employee={'salary':12000, 'hrd':1200, 'health':2400, 'DA':1000, 'TA': 500}
#Hint: use employee.items()
employee={'salary':12000, 'hrd':1200, 'health':2400, 'DA':1000, 'TA': 500}
employee.values()

total =0
for i in employee:
    total=total+employee.get(i)
print(total)

total1=0
for k,v in employee.items():
    total1=total1+v
print(total1)

17100
17100

In [ ]:
# Q1. Write a Python program to check whether a given key already exists in a dictionary.
# d={'name':'Kenny', 'age':31, 'salary':12000}
#check key name is present or not
# Hint: use d.keys() and check with in operator

In [90]:
# Q3. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys
# output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

output=dict()
for i in range(1, 16):
    output[i]=i**2
print(output)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [98]:
def multiply(*numbers):
    multiple = 1
    for num in numbers:
        multiple *= num
    return multiple

In [99]:
multiply(3,5,8,10)

1200

In [101]:
greater = lambda num1, num2: num1 if num1>num2 else num2
greater (66,34)

66

In [1]:
r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48

In [2]:
#113355
L = [11,33,55]
x = int("".join(map(str, L)))
# Map converts all values of L into string.
# Join function merges all the value
print ('Single IntegerL ', x)

Single IntegerL  113355

In [ ]:
# starts from 1; upto to and increment of 2
For i in range(1, 10, 2):
	Print ("Hello World")
	Print (i)
	



i = 2
While i < 10:
	Print (i)
    i+=1