# Functions
- There are 2 types of functions in python
1. Built in functions
2. User defined functions(UDF)

## User defined function

In [1]:
def area_of_rectangle(length,breadth):
    area = length*breadth
    return area

In [2]:
area_of_rectangle(20,12)

240

In [3]:
def square_of_number(a1):
    square = a1*a1
    return square

In [4]:
square_of_number(3)

9

In [5]:
l1=[1,2,3,4]
l2=[5,6,7,8]

In [6]:
l1

[1, 2, 3, 4]

In [7]:
l1.extend(l2)

In [8]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

## Data Frames
- Data Frames is nothing but a two dimensional array which stores data in tabular format

In [9]:
# Scalar objects
a = 7

In [10]:
# Vector object, 1 dimension object
b = [7,5]

In [11]:
# Two dimensional object
c = [1,2,3,4],[5,6,7,8],[9,10,11,12]

In [12]:
c[1][1]

6

In [13]:
c[0][3]

4

In [14]:
c[1][3]

8

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(c)

In [17]:
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

# Key Libraries

# Pandas
- It is used for handling and manipulating DataFrame (2 dimensional objects)
- DataFrames is a spacial kind of data structure which allows you to store data in tabular format.

# Numpy
- Numerical Python
- It is used for numerical operations

# Matplotlib and Seaborn
- It is used for data visualization in python
- Seaborn is built on matplotlib
-

# Scipy
- Scientific Python
- It is used for complex statistical operations (Inferential statistics)

# Statsmodel
- It is used for statistical modelling

# Sklearn
- Sci kit learn
- It is used for machine learning algorithm

# Deep dive into Pandas

In [22]:
series1 = pd.Series([0,10,20,30,40,50])

In [23]:
series1

0     0
1    10
2    20
3    30
4    40
5    50
dtype: int64

# Difference between Series and DataFrames
- Series is 1 Dimensional
- Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data

In [28]:
series1.loc[3]

30

In [30]:
series1.iloc[3]

30

#### loc and iloc
- loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

In [34]:
# adding dictionary
series2 = pd.Series({'a':1, 'b':2, 'c':3})

In [35]:
series2

a    1
b    2
c    3
dtype: int64

In [38]:
series2.loc['c']

3

In [62]:
# adding another dictionary
series3 = pd.Series({ '1':'chiranjeev', '2':'sathish', '3':'ashwini'})

In [63]:
series3

1    chiranjeev
2       sathish
3       ashwini
dtype: object

In [64]:
series3.loc['2']

'sathish'

In [65]:
series3.iloc[2]

'ashwini'

In [72]:
df3 = pd.DataFrame({'Rollno':[1,2,3,4,5], 'Name':['ABC', 'dsg', 'wgwre', 'agre', 'aggedy']})

In [73]:
df3

   Rollno    Name
0       1     ABC
1       2     dsg
2       3   wgwre
3       4    agre
4       5  aggedy

In [88]:
df1 = pd.DataFrame({
    'A':['a0', 'a1', 'a2', 'a3'],
    'B':['b0', 'b1', 'b2', 'b3'],
    'C':['c0', 'c1', 'c2', 'c3'],
    'D':['d0', 'd1', 'd2', 'd3']
}, 
    index = [1,2,3,4]
)

# combination of dictionary and array
# also for DataFrame, index can be reset instead of 0, it can start from 1 or be specific for any row

In [89]:
df1

    A   B   C   D
1  a0  b0  c0  d0
2  a1  b1  c1  d1
3  a2  b2  c2  d2
4  a3  b3  c3  d3