# NumPy Attributes
* Attributes are the features/characteristics of an object that describes the object
* Attributes do not have parentheses following them

## Shape
The shape returns the number of rows and columns of the array respectively

In [1]:
import numpy as np

In [2]:
a = np.array([[1, 2, 3], 
              [4, 5, 6]])
a.shape

(2, 3)

## Size
The size returns the number of elements in an array

In [3]:
a = np.array([[1, 2, 3], 
              [4, 5, 6]])
a.size

6

## dtype
The dtype returns the type of the data along with the size in bytes

In [4]:
a = np.array([[1, 2, 3], 
              [4, 5, 6]])
a.dtype

dtype('int32')

## ndim
The ndim returns the number of axes (dimension) of the array

In [5]:
a = np.array([[[1, 2], 
               [3, 4]], 
              [[5, 6], 
               [7, 8]]])

a.ndim

3

# NumPy array operations

## NumPy Array Copy vs View
* The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

* The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

* The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

### Copy

In [6]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

### View

In [7]:

arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

In [8]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
x[0] = 31

print(arr)
print(x)

[31  2  3  4  5]
[31  2  3  4  5]

### Check who Owns the Data using base

In [9]:
arr = np.array([1, 2, 3, 4, 5])

x = arr.copy()
y = arr.view()

print(x.base)
print(y.base)

None
[1 2 3 4 5]

## reshape
* Reshaping means changing the shape of an array.

* The shape of an array is the number of elements in each dimension.

* By reshaping we can add or remove dimensions or change number of elements in each dimension.

* reshape() creates a copy and changes the dimension.

In [10]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)

print(newarr)
print(arr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [11]:
newarr = arr.reshape(2, 3, 2)
newarr

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [12]:
newarr = arr.reshape(2, 2,3)
newarr

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

### Unknown Dimension
* Meaning that you do not have to specify an exact number for one of the dimensions in the reshape method.

In [13]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

newarr = arr.reshape(2, 2, -1)

print(newarr)
print(newarr.shape)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]
(2, 2, 2)

In [14]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(2, -1, 2)

print(newarr)
print(newarr.shape)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]
(2, 3, 2)

### Flattening the arrays
* Flattening array means converting a multidimensional array into a 1D array.

In [15]:
a = np.array([[[1, 2], 
               [3, 4]], 
              [[5, 6], 
               [7, 8]]])

b=a.reshape(-1)
print(b)
print(b.shape)

[1 2 3 4 5 6 7 8]
(8,)

## Exercise
Use the correct NumPy method to change the shape of an array from 2 X 3 to 3 X 2.
```
a = np.array([[1, 2, 3], 
              [4, 5, 6]])
```

In [16]:
a = np.array([[1, 2, 3], 
              [4, 5, 6]])

a.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

## Exercise
Use the correct NumPy method to change the shape of an array from 2 X 3 X 3 to 2 X 9

In [17]:
a = np.array([[[1, 2, 35], 
               [3, 4, 45], 
               [33, 34, 45]], 
              [[5, 6, 7], 
               [7, 8, 6],
               [87, 88, 86]], 
              ]
              )
a.reshape(2,9)

array([[ 1,  2, 35,  3,  4, 45, 33, 34, 45],
       [ 5,  6,  7,  7,  8,  6, 87, 88, 86]])

## Slicing Array 
Syntax
```
array[start_row : end_row , start_col : end_col ]
```

In [18]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
arr[3:6]

array([4, 5, 6])

In [19]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
arr[0:4:3]

array([1, 4])

In [20]:
a = np.array([[1, 2, 35], 
               [3, 4, 75], 
               [33, 34, 45]]) 



a[0:2, :]

array([[ 1,  2, 35],
       [ 3,  4, 75]])

## Exercise
Slice the following 3-D array and get the first row and all columns from all dimension

In [21]:
a = np.array([[[1, 2, 35], 
               [3, 4, 45], 
               [33, 34, 45]], 
              [[5, 6, 7], 
               [7, 8, 6],
               [87, 88, 86]], 
              [[15, 16, 17], 
               [17, 18, 16],
               [27, 28, 26]]
              ])
a[:2, :1, :]

array([[[ 1,  2, 35]],

       [[ 5,  6,  7]]])

## NumPy Array Iterating

In [22]:
# 1D array
arr = np.array([1, 2, 3])

for x in arr:
  print(x)

1
2
3

In [23]:
# 2D array
arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
  for y in x:
    print(y)

1
2
3
4
5
6

In [24]:
# 3D array
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
  for y in x:
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

### Iterating Arrays Using nditer()

In [25]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [26]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

for x in np.nditer(arr[:, ::2]):
  print(x)

1
3
5
7

### Enumerated Iteration Using ndenumerate()
* The index of the element while iterating, the ndenumerate() method can be used for those usecases.

In [27]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 0, 2) 3
(0, 1, 0) 4
(0, 1, 1) 5
(0, 1, 2) 6
(1, 0, 0) 7
(1, 0, 1) 8
(1, 0, 2) 9
(1, 1, 0) 10
(1, 1, 1) 11
(1, 1, 2) 12

# Arithmetic Operations

## Boradcasting
* array to single value operations

In [28]:
arr1 = np.array([1, 2, 3])
a=3
# Multiplication
print(arr1*a)
# Addition
print(arr1+a)
# Subtraction
print(arr1-a)
# division
print(arr1/a)
# power
print(arr1**a)
# modulo
print(arr1%a)

[3 6 9]
[4 5 6]
[-2 -1  0]
[0.33333333 0.66666667 1.        ]
[ 1  8 27]
[1 2 0]

## Addition
* array to array operations
* array to array operations are done in elementwise fasion

### 1D array

In [29]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

# Multiplication arrays elementwise
print(arr1*arr2)
# Addition arrays elementwise
print(arr1+arr2)
# Subtraction arrays elementwise
print(arr1-arr2)
# division arrays elementwise
print(arr1/arr2)
# power arrays elementwise
print(arr1**arr2)
# modulo
print(arr2%arr1)

[ 4 10 18]
[5 7 9]
[-3 -3 -3]
[0.25 0.4  0.5 ]
[  1  32 729]
[0 1 0]

## 2D array
### Addition

In [30]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([10,11,12])
print(b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[10 11 12]

In [31]:
print('array addition', ac+b)

array addition [[10 12 14]
 [13 15 17]
 [16 18 20]]

In [32]:
bc=b.reshape(3,1)
print(bc)
print(ac)
print('array addition') 
print(ac+bc)

[[10]
 [11]
 [12]]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
array addition
[[10 11 12]
 [14 15 16]
 [18 19 20]]

### Subtraction

In [33]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([10,11,12])
print(b)
print ('b-ac',b-ac )

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[10 11 12]
b-ac [[10 10 10]
 [ 7  7  7]
 [ 4  4  4]]

### Multiplication

In [34]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([10,11,12])
print(b)

print(ac*b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[10 11 12]
[[ 0 11 24]
 [30 44 60]
 [60 77 96]]

### Division

In [35]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([10,10,10])
print(b)

print('ac/b', ac/b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[10 10 10]
ac/b [[0.  0.1 0.2]
 [0.3 0.4 0.5]
 [0.6 0.7 0.8]]

### Power

In [36]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([2,2,2])
print(b)

print(ac**b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[2 2 2]
[[ 0  1  4]
 [ 9 16 25]
 [36 49 64]]

### Modulo

In [37]:
a = np.arange(9)
print(a)
ac=a.reshape(3,3) 

print(ac)

b = np.array([2,2,2])
print(b)

print(ac%b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[2 2 2]
[[0 1 0]
 [1 0 1]
 [0 1 0]]

## Exercise
* Create one numpy array using arange of 9 values and perform all arithmatic operation with a scaler value 7

* Create two numpy array using arange of 9 values each, reshape them in to 3 X 3 matrix  and perform all arithmatic operation

In [38]:
a = np.arange(9)
print (a)
print('-'*80)
print('multiply',a*7)
print('-'*80)
print('devide',a/7)
print('-'*80)
print('Add',a+7)
print('-'*80)
print('Subtract',a-7)
print('-'*80)
print('power',a**7)
print('-'*80)
print('modulo',a%7)

[0 1 2 3 4 5 6 7 8]
--------------------------------------------------------------------------------
multiply [ 0  7 14 21 28 35 42 49 56]
--------------------------------------------------------------------------------
devide [0.         0.14285714 0.28571429 0.42857143 0.57142857 0.71428571
 0.85714286 1.         1.14285714]
--------------------------------------------------------------------------------
Add [ 7  8  9 10 11 12 13 14 15]
--------------------------------------------------------------------------------
Subtract [-7 -6 -5 -4 -3 -2 -1  0  1]
--------------------------------------------------------------------------------
power [      0       1     128    2187   16384   78125  279936  823543 2097152]
--------------------------------------------------------------------------------
modulo [0 1 2 3 4 5 6 0 1]

In [39]:
a = np.arange(1,10)
a=a.reshape(3,3)
print(a)
b=a.copy()
print (b)

print('-'*80)
print('multiply',a*b)
print('-'*80)
print('devide',a/b)
print('-'*80)
print('Add',a+b)
print('-'*80)
print('Subtract',a-b)
print('-'*80)
print('power',a**b)
print('-'*80)
print('modulo',a%b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
--------------------------------------------------------------------------------
multiply [[ 1  4  9]
 [16 25 36]
 [49 64 81]]
--------------------------------------------------------------------------------
devide [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
--------------------------------------------------------------------------------
Add [[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]
--------------------------------------------------------------------------------
Subtract [[0 0 0]
 [0 0 0]
 [0 0 0]]
--------------------------------------------------------------------------------
power [[        1         4        27]
 [      256      3125     46656]
 [   823543  16777216 387420489]]
--------------------------------------------------------------------------------
modulo [[0 0 0]
 [0 0 0]
 [0 0 0]]

# Statistical Functions

## mean
* The numpy.mean() function returns the arithmetic mean of elements in the array

In [40]:
a = np.array([[3,7,5],[8,4,3],[2,4,9]]) 
print(a)

[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [41]:
print(np.mean(a))

5.0

In [42]:
print(np.mean(a, axis=0))

[4.33333333 5.         5.66666667]

In [43]:
print(np.mean(a, axis=1))

[5. 5. 5.]

## average
* The numpy.average() function computes the weighted average of elements in an array according to their respective weight given in another array.
* Considering an array [1,2,3,4] and corresponding weights [4,3,2,1], the weighted average is calculated by adding the product of the corresponding elements and dividing the sum by the sum of weights.

        Weighted average = (1*4+2*3+3*2+4*1)/(4+3+2+1)

In [44]:
a = np.array([1,2,3,4]) 
wts = np.array([0.25,0.25,0.25,0.25])

print(np.average(a,weights = wts))

2.5

In [45]:
a = np.arange(6).reshape(3,2) 
print(a)
wt = np.array([.5,.5]) 
print(np.average(a, axis = 1, weights = wt))

[[0 1]
 [2 3]
 [4 5]]
[0.5 2.5 4.5]

## Standard Deviation
* numpy.std()

In [46]:
a = np.array([[3,7,5],[8,4,3],[2,4,9]]) 
print(a)

[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [47]:
print(np.std(a))

2.309401076758503

In [48]:
print(np.std(a, axis=0))

[2.62466929 1.41421356 2.49443826]

In [49]:
print(np.std(a, axis=1))

[1.63299316 2.1602469  2.94392029]

## Variance
numpy.var()

In [50]:
a = np.array([[3,7,5],[8,4,3],[2,4,9]]) 
print(a)

[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [51]:
print(np.var(a))

5.333333333333333

In [52]:
print(np.var(a, axis=0))

[6.88888889 2.         6.22222222]

In [53]:
print(np.var(a, axis=1))

[2.66666667 4.66666667 8.66666667]

## Exercise

* create a matrix 3 X 3 of random integer between 1-20 and find the variance in row-wise and column-wise

In [54]:
a = np.random.randint(1,20,(3,3))
mc= np.mean(a,axis=0)
sdc= np.std(a,axis=0)
vc= np.var(a,axis=0)

mr= np.mean(a,axis=1)
sdr= np.std(a,axis=1)
vr= np.var(a,axis=1)
print('a:',a)
print('column wise mean:',mc)
print('column wise SD:',sdc)
print('column wise variance:',vc)
print('row wise mean:',mr)
print('row wise SD:',sdr)
print('row wise variance:',vr)

a: [[17 11  5]
 [ 2 15  3]
 [ 7 18 11]]
column wise mean: [ 8.66666667 14.66666667  6.33333333]
column wise SD: [6.23609564 2.86744176 3.39934634]
column wise variance: [38.88888889  8.22222222 11.55555556]
row wise mean: [11.          6.66666667 12.        ]
row wise SD: [4.89897949 5.90668172 4.54606057]
row wise variance: [24.         34.88888889 20.66666667]

## Median
numpy.median()

In [55]:
a = np.array([[3,7,5],[8,4,3],[2,4,9]]) 
print(a)

[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [56]:
print(np.median(a))

4.0

In [57]:
print(np.median(a, axis=0))

[3. 4. 5.]

In [58]:
print(np.median(a, axis=1))

[5. 4. 4.]

## Exercise

* create a matrix 3 X 3 of random integer between 1-20 and find the median in row-wise and column-wise

# Mathematical Functions

## Trigonometric Functions
NumPy has standard trigonometric functions which return trigonometric ratios for a given angle in radians.

In [59]:
a = np.array([0,30,45,60,90])

In [60]:
sin_theta=np.sin(a*np.pi/180) 
print(sin_theta)

[0.         0.5        0.70710678 0.8660254  1.        ]

In [61]:
np.cos(a*np.pi/180)

array([1.00000000e+00, 8.66025404e-01, 7.07106781e-01, 5.00000000e-01,
       6.12323400e-17])

In [62]:
np.tan(a*np.pi/180)

array([0.00000000e+00, 5.77350269e-01, 1.00000000e+00, 1.73205081e+00,
       1.63312394e+16])

### Inverse functions
* arcsin, arcos, and arctan functions return the trigonometric inverse of sin, cos, and tan of the given angle. The result of these functions can be verified by numpy.degrees() function by converting radians to degrees.

In [63]:
sin_theta=np.sin(a*np.pi/180) 
print(sin_theta)
arc_sin=np.arcsin(sin_theta)
print('inverse of sin in radian',arc_sin)
print('inverse of sin in degree', np.degrees(arc_sin))

[0.         0.5        0.70710678 0.8660254  1.        ]
inverse of sin in radian [0.         0.52359878 0.78539816 1.04719755 1.57079633]
inverse of sin in degree [ 0. 30. 45. 60. 90.]

In [64]:
import math
print (a)
b=map(math.sin(a*math.pi/180))
print(b)

[ 0 30 45 60 90]

TypeError: only size-1 arrays can be converted to Python scalars

## Functions for Rounding
* numpy.around() - This is a function that returns the value rounded to the desired precision. The function takes the following parameters.
```
numpy.around(a,decimals)
```

In [ ]:
data=np.random.randn(2,3)
print(data)
print(np.around(data, 1))

## floor() and ceil()

In [ ]:
a = np.array([-1.7, 1.5, -0.2, 0.6, 10]) 
print(np.floor(a))

In [ ]:
a = np.array([-1.7, 1.5, -0.2, 0.6, 10]) 
print(np.ceil(a))

## square root
np.sqrt()

In [ ]:
a = np.array([25, 49, 16]) 
print(np.sqrt(a))